@{
    ViewBag.Title = "Signout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have been successfully Signed out</h2>

@Html.ActionLink("Click here to return Home", "Index")
<a href="https://steamcommunity.com/login/logout">Click here to sign out on Steam and go to their site</a>