@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class = "acct-status">
    <p>Coins: 0</p>
    <p>Trades: 19</p>
    <p>Messages: 0</p>
    <p>Total Bets: 0</p>
    <p>Bets Won: 0</p>
</div>
